.idea/
.DS_Store/
.DS_Store
.terraform/*
.terraform
.vault/credentials.json

modules/eks_old
.terraform.lock.hcl
vars.tfvars
lambda_function.zip
statefile
statemigrator.sh
*.tfstate
modules/**terraform.tfvars
environments/**terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
.env
scripts/config.sh
